[Desktop Entry]
Comment[de]=
Comment=
Exec=texter
GenericName[de]=Live Text Streaming
GenericName=Live Text Streaming
Icon=texter_icon
MimeType=
Name[de]=texter
Name=texter
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
